body {
    margin: 0;
    padding: 0;
}

#searchInput {
    display: inline-block;
    width: 55%;
    margin: auto; 
}

#searchButton {
    width: 24%;
    margin: auto;
}

.btn-success {
    margin: auto;
    width: 19%;
}

ul {
    margin-top: 2px;
}